{% extends 'generator/base.html' %}

{% block logo-url %}#!{% endblock %}

{% block content %}
<br><br>
<div class="container center">
	<div class="card-panel info-card z-depth-5">
		<div class="row">
			<div class="col s12">
				<h1>Password Parameters</h1>
			</div>
			<form class="col s12" action="{% url 'password' %}">
				<div class="row">
					<div class="input-field col s4 offset-s3">
						<p class="range-field">
							<input type="range" class="lengthslider" name="passwordlength" id="passwordlength" min="8" max="23" onchange="showVal(this.value)" value="13" />
						</p>
					</div>
					<div class="col s1 offset-s1 card-panel length-card z-depth-5">
						<h5 id="length"></h5>
						<label for="length">Length</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s2 offset-s1 center">
						<label>
							<input type="checkbox" name="numbers" id="numbers" checked />
							<span>Numbers</span>
						</label>
					</div>
					<div class="input-field col s3 offset-s2 center">
						<label>
							<input type="checkbox" name="uppercase" id="uppercase" checked />
							<span>Uppercase Alphabets</span>
						</label>
					</div>
					<div class="input-field col s2 offset-s1 center">
						<label>
							<input type="checkbox" name="special" id="special" checked />
							<span>Special Characters</span>
						</label>
					</div>
				</div>
				<br><hr><br>
				<div class="row">
					<div class="col s12">
						<button type="submit" class="btn btn-large z-depth-4">
							Generate Password <i class="fa fa-key right"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}