{% extends 'generator/base.html' %}

{% block logo-url %}{% url 'home' %}{% endblock %}

{% block content %}

<br><br>

<div class="container center">
    <div class="card-panel z-depth-5">
        <div class="row">
            <div class="col s12">
                <h1 class="mb-3">Your password is :</h1>
            </div>
            <div class="col s10 offset-s1 password-col z-depth-4">
                <h2>
                    <span id="password">{{ password }} </span>
                    <span class="right">
                        <a class="copy" onclick="copyToClipboard('#password')"><i class="fa fa-clone"></i></a>
                        &nbsp;
                    </span>
                </h2>
            </div>
        </div>
        <br><hr><br>
        <div class="row">
            <div class="col s12">
                <button class="btn btn-large z-depth-4" onclick="location.reload(true)">New Password<i class="fa fa-refresh right"></i></button>&emsp;
                <a href="{% url 'home' %}" class="btn btn-large z-depth-4">HOME<i class="fa fa-home right"></i></a>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}